* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    color: #fff;
    background-color: #0a0032;
}

h1 {
    text-align: center;
    margin-bottom: 3vh;

}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 3px;
}

h1:hover{
    color: green;
}

button {
    margin: 6%;
}

/* Mobile */
@media only screen and (min-width: 768px) {
    body {
        background-color: deepskyblue;
    }
}

/* Tablet */
@media only screen and (min-width: 1024px) {
    body {
        background-color: rgb(25, 25, 25);
    }
}